# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Lint
    steps:
    - uses: actions/checkout@v5
    - uses: pre-commit/action@v3.0.1

  install:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Set up uv + python version
      uses: astral-sh/setup-uv@v7.1.4
      with:
        python-version: 3.13
        enable-cache: true
    - name: Install dependencies
      run: make install

  test:
    runs-on: ubuntu-latest
    needs: install
    name: Test
    steps:
    - uses: actions/checkout@v5
    - name: Set up uv + python version
      uses: astral-sh/setup-uv@v7.1.4
      with:
        python-version: 3.13
        enable-cache: true
    - name: Install dependencies
      run: make install
    - name: Run tests
      run: make test

  docs:
    runs-on: ubuntu-latest
    needs: install
    name: Docs
    steps:
    - uses: actions/checkout@v5
    - name: Set up uv + python version
      uses: astral-sh/setup-uv@v7.1.4
      with:
        python-version: 3.13
        enable-cache: true
    - name: Install dependencies
      run: make install
    - name: Run tests
      run: make docs
